
@import url(http://fonts.googleapis.com/css?family=Syncopate);



span {
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  
  }



html {
    min-height: 100%;
    background-size: cover;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

header{
    text-align:center;
}


.section a:link{
    text-decoration: none;
}

ul
{
list-style-type: none;
margin-left:-45px

}


#pinkBow{
    float: left;
    

}

#blackBow{
    float: right;
}

#tweet{

position:fixed; 
left:10px; 
top:25px; 
z-index: 5; 
width: 12%; 
height: 6%; 
}

#fb{
position:fixed; 
right:28px; 
top:25px; 
z-index: 5; 
width: 12%; 
height: 6%; 
}

#one { 
position:fixed; 
left:10px; 
bottom:55px; 
z-index: 5; 
width: 12%; 
height: 6%; }

#two {
position:fixed; 
left:380px; 
bottom:55px; 
z-index: 5; 
width: 12%; 
height: 6%; }

#three { 
position:fixed; 
left:770px; 
bottom:55px; 
z-index: 5; 
width: 12%; 
height: 6%; }


.back_btn {
	text-align: center;
	width: 10%;
	padding: 5px;
	display: block;
	font-weight: bold;
	color: #3399CC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 10px;
	border-radius: 3px;
	background: -moz-linear-gradient(right,  #222 0%, #555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top right, leftbottom, color-stop(0%, #222), color-stop(100%,#555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(right,  #222 0%, #555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right,  #222 0%, #555 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(right,  #222 0%, #555 100%); /* IE10+ */
	background: linear-gradient(right,  #222 0%, #555 100%); /* W3C */
}



#acel{

background-image: (../images/wall.jpg);
}

#alert{
background-image: (../images/wall.jpg);
}

#camera{
background-image: (../images/wall.jpg);

}

#contact{
background-image:(../images/wall.jpg);
}

#network{
background-image: (../images/wall.jpg);

}

#geo{
background-image: (../images/wall.jpg);

}
