
html{
    min-height: 100%;
    background-size: cover;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

header{
    text-align:center;
}


ul{

list-style-type: none;
}

#native li{
  float:top;
  width:350px;


}

#api{
float:left;
}
