
html{
    min-height: 100%;
    background-size: cover;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

header{
    text-align:center;
}


ul{

list-style-type: none;
}



#acel{
    min-height: 100%;
    background-size: cover;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-position: left top;

}