html {
    min-height: 100%;
    background-size: cover;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

header{
    text-align:center;
}


.section a:link{
    text-decoration: none;
}



#pinkBow{
    float: left;
}

#blackBow{
    float: right;
}

#tweet{

position:fixed; 
left:10px; 
top:25px; 
z-index: 5; 
width: 12%; 
height: 6%; 
}

#fb{
position:fixed; 
right:28px; 
top:25px; 
z-index: 5; 
width: 12%; 
height: 6%; 
}

#one { 
position:fixed; 
left:10px; 
bottom:55px; 
z-index: 5; 
width: 12%; 
height: 6%; }

#two {
position:fixed; 
left:380px; 
bottom:55px; 
z-index: 5; 
width: 12%; 
height: 6%; }

#three { 
position:fixed; 
left:770px; 
bottom:55px; 
z-index: 5; 
width: 12%; 
height: 6%; }
